Source: ros-melodic-joy
Section: misc
Priority: optional
Maintainer: Jonathan Bohren <jbo@jhu.edu>
Build-Depends: debhelper (>= 9.0.0), joystick, ros-melodic-catkin, ros-melodic-diagnostic-updater, ros-melodic-rosbag, ros-melodic-roscpp, ros-melodic-roslint, ros-melodic-sensor-msgs
Homepage: http://www.ros.org/wiki/joy
Standards-Version: 3.9.2

Package: ros-melodic-joy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, joystick, ros-melodic-diagnostic-updater, ros-melodic-roscpp, ros-melodic-sensor-msgs
Description: ROS driver for a generic Linux joystick.
 The joy package contains joy_node, a node that interfaces a generic Linux joystick to ROS. This node publishes a &quot;Joy&quot; message, which contains the current state of each one of the joystick's buttons and axes.
