Source: ros-melodic-joystick-drivers
Section: misc
Priority: extra
Maintainer: Jonathan Bohren <jbo@jhu.edu>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://www.ros.org/wiki/joystick_drivers
Standards-Version: 3.9.2

Package: ros-melodic-joystick-drivers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-joy, ros-melodic-ps3joy, ros-melodic-spacenav-node, ros-melodic-wiimote
Description: This metapackage depends on packages for interfacing common joysticks and human input devices with ROS.
